.domain-list {
  font-family: "Jost", sans-serif;
}

.domain-card {
  background: #fff;
  border-radius: 8px;
}

.domain-badge {
  font-size: 50px;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 12px;
  text-align: center;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 150px;
  height: 150px;
}

.bg-warning {
  background-color: #ffcc00 !important;
}

.bg-danger {
  background-color: #ff4d4d !important;
}

.domain-name {
  font-size: 24px;
  font-weight: 500;
  color: #171d3f;
}

.seller-avatar {
  object-fit: cover;
}

#domain-seller-name {
  font-size: 20px;
  color: #000000;
  font-weight: 400;
}

.seller-info span {
  font-size: 14px;
  color: #666;
}

.original-price {
  font-size: 14px;
  color: #bdbdbd;
  font-weight: 500;
}

.current-price {
  font-size: 38px;
  font-weight: bold;
  color: #171d3f;
}

.monthly-price {
  font-weight: 500;
  font-size: 18px;
  color: #bdbdbd;
}

.btn-primary {
  font-size: 14px;
  font-weight: 600;
}
